* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 70px!important;
}

span.power {
    text-align: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}