    {% extends 'base.html' %}
{% load staticfiles %}

{#加载自定义模板标签#}
{% load comment_tags %}

{% block title %}{{ blog.title }}{% endblock %}



{% block header %}
<link rel="stylesheet" href="{% static 'blog/blog.css' %}">
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}

{% block nav_blog_active %}active{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h3>{{ blog.title }}</h3>
                <ul class="blog-info-description">
                    <li>作者：{{ blog.author }}</li>
                    <li>分类：<a href="{% url 'blog_list_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a></li>
                    <li>创建日期：{{ blog.created_time|date:"Y-m-d H:i:s" }}</li>
                    <li>阅读({{ blog.get_read_num }})</li>
                    <!-- 自定义的模板标签 -->
                    <li>评论({% get_comment_count blog %})</li>
                    <li>{% test '传入的值' %}</li>
                </ul>

                <!-- 点赞 -->
                <p class="blog-content">{{ blog.content|safe }}</p>
                <div class="like">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    <span class="liked-num">0</span>
                    <span>喜欢</span>
                </div>

                <div class="blog-more">
                    <p>上一篇：
                        {% if previours_blog  %}
                            <a href="{% url 'blog_detail' previours_blog.pk %}">{{ previours_blog.title }}</a>
                        {% else %}
                            没有了
                        {% endif %}
                    </p>

                    <p>下一篇：
                        {% if next_blog  %}
                            <a href="{% url 'blog_detail' next_blog.pk %}">{{ next_blog.title }}</a>
                        {% else %}
                            没有了
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="comment-area">
                    <h3 class="comment-area-text">提交评论</h3>
                    {% if user.is_authenticated %}
                        {{ user }},欢迎评论~

                        <!-- 展示回复谁的内容 -->
                        <div id="reply_content_container" style="display:none;">
                                <p>回复：</p>
                                <div id="reply_content"></div>
                        </div>


                        <form id="comment_form" action="{% url 'update_comment' %}" method="POST" style="overflow: hidden;">
                            {% csrf_token %}
                            {% for field in comment_form %}
                                {{ field }}
                            {% endfor %}
                            <span id='comment_errors' class="text-danger pull-left"></span>
                            <input type="submit" name="提交" class="btn btn-primary pull-right">
                        </form>
                    {% else %}
                        您尚未登录，请登陆后评论~
                        <a href="{% url 'login' %}?from={{ request.get_full_path }}" class="btn btn-primary">登陆</a>
                        <span>or</span>
                        <a href="{% url 'register' %}?from={{ request.get_full_path }}" class="btn btn-danger">注册</a>
                    {% endif %}
                </div>
                <div class="comment-area">
                    <h3 class="comment-area-text">评论列表</h3>
                    <div id="comment_list">
                        {% for comment in comments %}
                            <div class="comment" id="root_{{ comment.pk }}">
                                <span>{{ comment.user.username }}</span>
                                <span>({{ comment.comment_time|date:"Y-m-d H:i:s" }})：</span>
                                <div id="comment_{{ comment.pk }}">
                                    {{ comment.text|safe }}
                                </div>
                                <a href="javascript:reply({{ comment.pk }}, '{{ user.is_authenticated }}');">回复</a>
                                
                                {% for reply in comment.root_comment.all %}
                                    <div class="reply_list">
                                        <span>{{ reply.user.username }}</span>
                                        <span>{{ reply.comment_time|date:"Y-m-d H:i:s" }}</span>
                                        <span>回复</span>
                                        <span>{{ reply.reply_to.username }}</span>
                                        <div id="comment_{{ reply.pk }}">
                                            {{ reply.text|safe }}
                                        </div>
                                        <a href="javascript:reply({{ reply.pk }}, '{{ user.is_authenticated }}');">回复</a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% empty %}
                            <span id='no_comment'>暂无评论</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>



        <!-- Modal -->
        <div class="modal fade" id="login_modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <form id="login_medal_form" action="" method="POST">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">登录</h4>
                        </div>

                        <div class="modal-body">
                            {% csrf_token %}
                            {% for field in login_form %}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                            {% endfor %}
                            <span id="login_medal_tip" class="text-danger"></span>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">登录</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>                        
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}


{% block scripts_extend %}
    <script type="text/javascript">
        $("#comment_form").submit(function(){
            //清空错误信息
            $("#comment_errors").text('');
            //判断是否为空
            if(CKEDITOR.instances["id_text"].document.getBody().getText().trim()==''){
                $("#comment_errors").text('评论不能为空');
                return false;
            }

            //更新数据到textarea
            CKEDITOR.instances['id_text'].updateElement();
            //console.log($(this).serialize());
            //异步提交
            $.ajax({
                url: "{% url 'update_comment' %}",
                type: "POST",
                //序列化表单
                data: $(this).serialize(),
                cache: false,
                success: function(data){
                    console.log(data);
                    if(data['status']=='SUCCESS'){
                        //判断插入是评论还是回复
                        //0-->评论
                        if($('#reply_comment_id').val()=='0'){
                            var comment_html='<div class="comment" id="root_'+ data['pk'] +'"> <span>'+ data['username'] +'</span><span>(' + data['comment_time'] + ')：</span><div id="comment_' + data['pk'] + '">'+ data['text'] +'</div><a href="javascript:reply(' +data['pk']+ ');">回复</a></div>';
                            $('#comment_list').prepend(comment_html);
                        }else{
                            //回复
                             var reply_html='<div class="reply_list"><span>'+ data['username'] +'</span><span>' + data['comment_time'] + '</span><span>回复</span><span>' + data['reply_to'] + '</span><div id="comment_' + data['pk'] + '">'+ data['text'] +'</div><a href="javascript:reply(' + data['pk'] + ');">回复</a></div>';

                             $('#root_' + data['root_pk']).append(reply_html);
                        }

                        $("#comment_list").prepend(comment_html);
                        //清空编辑框内容
                        CKEDITOR.instances['id_text'].setData('');
                        $('#reply_content_container').hide();
                        $('#reply_comment_id').val('0');
                        $("#no_comment").remove();
                        $("#comment_errors").text("评论成功");
                    }else{
                        $("#comment_errors").text(data['message']);
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
            //禁止提交
            return false;
        });

        function reply(reply_comment_id,is_authenticated){
            console.log(is_authenticated);
            if (is_authenticated == "False"){
                $('#login_modal').modal('show');
             }else{
                //使用富文本编辑器，添加回复id
                $('#reply_comment_id').val(reply_comment_id);

                //展示被回复的内容
                var html = $("#comment_" + reply_comment_id).html();
                $('#reply_content').html(html);
                $('#reply_content_container').show();

                //滚动到编辑框
                $('html').animate({scrollTop:$('#comment_form').offset().top-150}, 300 ,function(){
                    //获得编辑框焦点
                     CKEDITOR.instances['id_text'].focus();
                });
             }
        }



        $("#login_medal_form").submit(function(event){
            event.preventDefault();
            $.ajax({
                url: '{% url "login_for_medal" %}',
                type: 'POST',
                data: $(this).serialize(),
                cache: false,
                success: function(data){
                    if(data['status']=='SUCCESS'){
                        window.location.reload();
                    }else{
                        $('#login_medal_tip').text('用户名或密码不正确');
                    }
                }
            });
        })
    </script>
{% endblock %}