{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ blog.title }}{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock %}

{% block nav_blog_active %}active{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h3>{{ blog.title }}</h3>
                <ul class="blog-info-description">
                    <li>作者：{{ blog.author }}</li>
                    <li>分类：<a href="{% url 'blog_list_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a></li>
                    <li>创建日期：{{ blog.created_time|date:"Y-m-d H:n:s" }}</li>
                    <li>阅读({{ blog.get_read_num }})</li>
                </ul>
                <p class="blog-content">{{ blog.content|safe }}</p>

                <div class="blog-more">
                    <p>上一篇：
                        {% if previours_blog  %}
                            <a href="{% url 'blog_detail' previours_blog.pk %}">{{ previours_blog.title }}</a>
                        {% else %}
                            没有了
                        {% endif %}
                    </p>

                    <p>下一篇：
                        {% if next_blog  %}
                            <a href="{% url 'blog_detail' next_blog.pk %}">{{ next_blog.title }}</a>
                        {% else %}
                            没有了
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="comment-area">
                    <h3 class="comment-area-text">提交评论</h3>
                    {% if user.is_authenticated %}
                        {{ user }},欢迎评论~
                        <form action="{% url 'update_comment' %}" method="POST" style="overflow: hidden;">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="comment_text"></label>
                                <textarea id="comment_text" name="text" class="form-control" row2='4'></textarea>
                                <input type="hidden" name="object_id" value="{{ blog.pk }}">
                                <input type="hidden" name="content_type" value="blog">
                            </div>
                            <input type="submit" name="提交" class="btn btn-primary" style="float: right">
                        </form>
                    {% else %}
                        您尚未登录，请登陆后评论~
                        <a href="{% url 'login' %}?from={{ request.get_full_path }}" class="btn btn-primary">登陆</a>
                        <span>or</span>
                        <a href="{% url 'register' %}?from={{ request.get_full_path }}" class="btn btn-danger">注册</a>
                    {% endif %}
                </div>
                <div class="comment-area">
                    <h3 class="comment-area-text">评论显示</h3>
                    {% for comment in comments %}
                        <div>{{ comment.user.username }}({{ comment.comment_time|date:"Y-m-d H:n:s" }})：{{ comment.text }}</div>
                    {% empty %}
                        暂无评论
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
