{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ blog.title }}{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'blog/blog.css' %}">
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block nav_blog_active %}active{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h3>{{ blog.title }}</h3>
                <ul class="blog-info-description">
                    <li>作者：{{ blog.author }}</li>
                    <li>分类：<a href="{% url 'blog_list_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a></li>
                    <li>创建日期：{{ blog.created_time|date:"Y-m-d H:i:s" }}</li>
                    <li>阅读({{ blog.get_read_num }})</li>
                </ul>
                <p class="blog-content">{{ blog.content|safe }}</p>

                <div class="blog-more">
                    <p>上一篇：
                        {% if previours_blog  %}
                            <a href="{% url 'blog_detail' previours_blog.pk %}">{{ previours_blog.title }}</a>
                        {% else %}
                            没有了
                        {% endif %}
                    </p>

                    <p>下一篇：
                        {% if next_blog  %}
                            <a href="{% url 'blog_detail' next_blog.pk %}">{{ next_blog.title }}</a>
                        {% else %}
                            没有了
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="comment-area">
                    <h3 class="comment-area-text">提交评论</h3>
                    {% if user.is_authenticated %}
                        {{ user }},欢迎评论~
                        <form id="comment_form" action="{% url 'update_comment' %}" method="POST" style="overflow: hidden;">
                            {% csrf_token %}
                            {{ comment_forms }}
                            <span id='comment_errors' class="text-danger pull-left"></span>
                            <input type="submit" name="提交" class="btn btn-primary pull-right">
                        </form>
                    {% else %}
                        您尚未登录，请登陆后评论~
                        <a href="{% url 'login' %}?from={{ request.get_full_path }}" class="btn btn-primary">登陆</a>
                        <span>or</span>
                        <a href="{% url 'register' %}?from={{ request.get_full_path }}" class="btn btn-danger">注册</a>
                    {% endif %}
                </div>
                <div class="comment-area">
                    <h3 class="comment-area-text">评论列表</h3>
                    <div id="comment_list">
                        {% for comment in comments %}
                            <div class="comment" >
                                {{ comment.user.username }}({{ comment.comment_time|date:"Y-m-d H:i:s" }})：{{ comment.text|safe }}
                            

                                {% for reply in comment.root_comment.all %}
                                    <div class="reply_list">
                                        {{ reply.user.username }}
                                        {{ reply.comment_time|date:"Y-m-d H:i:s" }}
                                        回复
                                        {{ reply.reply_to.username }}:
                                        {{ reply.text }}
                                        
                                    </div>
                                {% endfor %}
                            </div>
                        {% empty %}
                            <span id='no_comment'>暂无评论</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts_extend %}
    <script type="text/javascript">
        $("#comment_form").submit(function(){
            //清空错误信息
            $("#comment_errors").text('');
            //判断是否为空
            if(CKEDITOR.instances["id_text"].document.getBody().getText().trim()==''){
                $("#comment_errors").text('评论不能为空');
                return false;
            }

            //更新数据到textarea
            CKEDITOR.instances['id_text'].updateElement();
            //console.log($(this).serialize());
            //异步提交
            $.ajax({
                url: "{% url 'update_comment' %}",
                type: "POST",
                //序列化表单
                data: $(this).serialize(),
                cache: false,
                success: function(data){
                    console.log(data);
                    if(data['status']=='SUCCESS'){
                        var comment_html='<div>'+ data['username'] +'（'+ data['comment_time'] +'）：'+ data['text'] +'</div>';
                        $("#comment_list").prepend(comment_html);
                        //清空编辑框内容
                        CKEDITOR.instances['id_text'].setData('');
                        $("#no_comment").remove();
                    }else{
                        $("#comment_errors").text(data['message']);
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
            //禁止提交
            return false;
        });
    </script>
{% endblock %}