{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    我的博客
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock %}

{% block nav_blog_active %}active{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">{% block blog_list_title %}博客列表{% endblock %}</div>
                <div class="panel-body">
                        {% for blog in blogs.object_list %}
                            <div class="blog">
                                <a href="{% url 'blog_detail' blog.pk %}"><h3>{{ blog.title }}</h3></a>
                                <span class="glyphicon glyphicon-tag"></span><a href="{% url 'blog_list_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a>
                                <span class="glyphicon glyphicon-time"></span>{{ blog.created_time|date:"Y-m-d H:n:s" }}
                                阅读({{ blog.read_num }})
                                <p class="blog-info">{{ blog.content|striptags|truncatechars:50 }}</p>
                            </div>
                        {% empty %}
                            <div class="blog">
                                <h3>暂无博客</h3>
                            </div>
                        {% endfor %}
                </div>
            </div>

            <div aria-label="Page navigation">
              <ul class="pagination">
                {# 上一页 #}

                {% if blogs.has_previous %}
                    <li>
                      <a href="?page={{ blogs.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>               
                {% endif %}


                {% for page_num in page_range %}
                    {% if page_num == blogs.number  %}
                        <li class="active"><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                    {% else %}
                        {% if page_num == '...' %}
                            <li><span>{{ page_num }}</span></li>
                        {% else %}
                            <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {# 下一页 #}
                {% if blogs.has_next %}
                    <li>
                      <a href="?page={{ blogs.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                {% endif %}
              </ul>

              <p>一共有{{ blogs.paginator.count }}博客,当前在第{{ blogs.number }}页，共{{ blogs.paginator.num_pages }}页</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">博客分类</div>
                <div class="panel-body">
                    <ul class="blog-type">
                        {% for blog_type in blog_types %}
                            <li><a href="{% url 'blog_list_with_type' blog_type.pk %}">{{ blog_type.type_name }}({{ blog_type.blog_count }})</a></li>
                        {% empty %}
                            <li>暂无分类</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading">日期归档</div>
                <div class="panel-body">
                    <ul class="blog-type">
                        {% for blog_date,blog_count in blog_dates.items %}
                            <li><a href="{% url 'blog_list_with_date' blog_date|date:'Y' blog_date|date:'m' %}">{{ blog_date|date:"Y年m月" }}({{ blog_count }})</a></li>
                        {% empty %}
                            <li>暂无</li>
                        {% endfor%}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}